

body {
    padding: 0px;
    margin: 0px;
    font-family:   "Archivo","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.barlow-condensed {
    font-family: "Barlow Condensed",sans-serif;
}

h1{
    font-size: 1.5rem;
    font-weight: 600;
    display: inline;
    margin-right: 2rem;
}


.red {
    color: #d73f3f;
}

.wireframe {
    border: 1px solid #ecebed;
}

#topbar {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#banner{
    font-family: "Barlow Condensed",sans-serif;
    padding: 1.5rem;
    border: 1px solid #ecebed;
}


#filter-card {
    float: left;
    border: 1px solid #ecebed;
    margin: 0px;
    padding: 1.5rem;

}

#dataframe-container {
    /* display: block; */
    border: 1px solid #ecebed;
    width: auto;
    overflow-x: scroll;
    /* float: left; */
    margin: 0rem;
    padding: 1.5rem;
}

hr {
    border: 1px solid #ecebed;
}

label {
    margin-left: 5px;
}

input, select {
    width: 90%;
    padding: 8px;
    line-height: 1.15;
    border: 1px solid #ecebed;
    background-color: white;
 
}

td {
    padding: 0.5rem;
}

.blue-grey, label {
    color: #68707f;
    text-transform: uppercase;
    font-weight: 500;
}

.blue-dark {
    color: #2c3038;
}

tr:nth-child(even) {
    background-color: #f0efef;
}

table {
    border-collapse: collapse;
    width: 100%;

}

.bg-red {
    background-color:   #d73f3f;
    padding: 0.75rem 1.5rem;
    border-radius: .125rem;
    border: None;
    color: #fff;
}